extends layout.pug 

block content

  body

  .carousel
    for image, index in galleryImages
      .carousel-image
        img(src=image)
    .carousel-arrow.carousel-arrow-left
      a(href='')='<'
    .carousel-arrow.carousel-arrow-right
      a(href='')='>'
    .carousel-dots
      for image in galleryImages
        a.carousel-dot(href="")
  .gallery
    .gallery2
      img(src='/images/logo.png')
      p Omi Gallery is a interactive space for artisans, theorists, creative entrepreneurs, organizers, and students designed to feature diverse voices and genres that are artistically and socially relevant. Our programming intentionally nourishes partnerships between creatives, businesses, institutions, and the public. Omi Gallery presents Invite Only, new and traveling visual, sound, and performance works by emerging and established curators and artists, as well as concept-driven shared exhibitions in collaboration with other cultural institutions. We are located in Oakland at Impact Hub Oakland and in San Francisco at ThoughtWorks in SoMA. Gallery Director: Ashara Ekundayo | Gallery Manager: Melonie Green
  
  section.module.parallax.parallax-6
    .container
      h1 CURRENT EXHIBITS
  .featured
    .featured2
      p.event-description2 OMI GALLERY 2323 Broadway | Oakland, 94612 Mis Raices/My Roots August 5 - September 30, 2016 13 new prints by Mexican artist Jhovany Rodriguez De Ala. In this show, Jhovany talks about Art as Informant by showing us our history and allowing us to discover and reconstruct our identity through reflections that demand us images that speak of humanity and identity struggles.
      .upcoming-events-image
        img.gallery(src='images/galleryevent1.png' width='200px')
    .featured2
      p.event-description2 OMI GALLERY - UPPER LEVEL 2323 Broadway | Oakland, 94612 Watermelon Woman 3.0 August 5 - September 30, 2016 Watermelon Woman 3.0 is an interactive program where academic partners, artists of various mediums and creative technologies, and socially conscious venue partners unite to pay homage, celebrate and highlight the cultural relevance of the legendary film, Watermelon Woman by filmmaker Cheryl Dunye
      .upcoming-events-image
        img.gallery(src='images/galleryimage2.jpg' width='200px')
    .featured2
      p.event-description2 OMI GALLERY - ThoughtWorks SF 814 Mission St., 5th Floor | SF, 94103 "Black Powered" Paintings by Mahader Tesfai July 8 - Sept 30, 2016 This exhibit is made up of a new collection of black and gold paintings based on found objects that explore the relationship between technology and displacement.
      .upcoming-events-image
        img.gallery(src='images/galleryimage3.jpg' width='200px')
  section.module.parallax.parallax-6
    .container
      h1 EVENTS AT OMI GALLERY
    .upcoming-events
      mixin event(imageUrl, title)
        .event-description
          img.event-description-image(src=imageUrl)
          .event-description-title= title
      +event("/event1.png", "IHO WORKTRADE INFO SESSION – Q4!")
      +event("/event1.png", "COCAP 2016 – RADICAL REDISTRIBUTION OF WEALT")
      +event("/event1.png", "THE SWEETWATER SESSIONS, VOL. 5 “BLACK IS BLUE”")
      +event("/event1.png", "CHRISTEN LIEN CONCERT – ELPIS IS COMING")
  section.module.parallax.parallax-6

       